.text-end {
    &::after {
        content: "/";
        animation: blink 1s steps(1, end) infinite;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes arrow {
    0% {
        transform: translateX(-100%) rotate(15deg);
    }

    50% {
        transform: translateX(-100%) rotate(-15deg);
    }

    100% {
        transform: translateX(-100%) rotate(15deg);
    }
}

@keyframes menu-in {
    from {
        transform: translateY(5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
