#serif-box {
    bottom: 1em;
    width: calc(100% - 2em);
    height: 6em;
    font-size: 4dvh;
    color: whitesmoke;
    border: whitesmoke 0.1em solid;
    background-color: #111c;
    position: absolute;

    transition: opacity 0.4s, transform 0.4s;

    padding: 0.5em;

    display: flex;
    gap: 1em;

    #text-box {
        height: 100%;
        display: inline;
    }

    #serif-icon {
        height: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }
}
